{% extends 'incidentreporting/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
    {% block content %}

        <form method="POST">
          {% csrf_token %}
          {{ form|crispy }}
          Reported by : {{ request.user.get_full_name }}
          <div class="form-row" style="margin-right:0px;margin-left:0px;padding-top:24px;">
              <div class="col-12 col-md-4 offset-md-4">
                <button class="btn btn-dark btn-lg mb-3" type="reset">Clear </button>
                <button class="btn btn-dark btn-lg mb-3" style="margin-left:16px;" type="submit">Submit </button>
              </div>
          </div>
        </form>
    {% endblock %}
